@model IEnumerable<Tourist.Models.Place>

@{
    ViewData["Title"] = "Places";
}

<h1>Places</h1>

<div class="create-button">
    <a asp-action="Create" class="btn btn-success">Create New Place</a>
</div>


<div class="regions-container">
    @foreach (var item in Model)
    {
        <div class="region-item">
            <div>
                <img src="@item.PhotoURL" alt="Фото" class="region-photo" />
                <h2><a asp-action="Details" asp-controller="Places" asp-route-id="@item.ID">@item.Name</a></h2>
                <p>@item.Description</p>
            </div>
            <div class="actions">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        </div>
    }
</div>


           

